/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

main {
    width: 75%;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main p {
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Header & Navigation */
header {
    background-color: #6a0000;
    color: white;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover {
    text-decoration: underline;
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

/* Profile Pic */
#profile_pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 20px auto;
}

#image_caption {
    text-align: center;
    font-style: italic;
    color: #555;
}

/* Input and Button(s) */
input[type="text"], input[type="number"] {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #b10000;
    color: white;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #7e0000;
}

button:disabled {
    background-color: #ffa2a2;
    cursor: not-allowed;
}

/* Table Styling (Staff List) */
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
}

table th {
    background-color: #f2f2f2;
}

table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

footer {
    text-align: center;
    background-color: #390000;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

/* Form Validation/Messages */
#validation_message, #grade_result, #result {
    color: red;
    font-size: 16px;
    margin-top: 10px;
}

/* Weather Container */
.weather_container {
    text-align: center;
    margin-top: 20px;
}